.navbar {
    background-color: #010b18; /* Dark blue color */
}
.navbar-brand {
    color: #fff;
    font-weight: bold;
}
.github-star {
    font-size: 24px;
    color: #fff;
    margin-right: 20px;
}

#myDiffElement {
    margin-left: 10%;
    margin-right: 10%;
}
